## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [24]:
population = np.random.randint(100000000,size=4)
print(population)
data = {'國家': ['taiwan','usa','japen','korea'],
        '人口': population}
table = pd.DataFrame(data)
print(table)
table.sort_values(by='人口',ascending=False)

[88165102 91915198 71284252 10798863]
       國家        人口
0  taiwan  88165102
1     usa  91915198
2   japen  71284252
3   korea  10798863

       國家        人口
1     usa  91915198
0  taiwan  88165102
2   japen  71284252
3   korea  10798863